<div class="main__container" [class]="themeService.themeSignal()">
  <header class="main-header">
    <div class="logo">
      <strong>
        <a routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
          {{title}}+
        </a>
      </strong>
    </div>
    <div class="main-navbar">
      <app-nav [device]="'desktop'" />
    </div>
  </header>
  <section [@routerAnimation]="o.isActivated ? o.activatedRoute : ''" class="router-animate main-section"
    #scrollContainer (click)="sidenavService.setNavStatus('close')">
    <router-outlet #o="outlet" (activate)="onActivate($event, scrollContainer)" />
    <!--
    <section class="content">
      <h2>demo works!</h2>
      <img src="./images/reload.jpg" alt="sample">
      <button mat-button>hola</button>

      <section>

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis cum asperiores sunt aspernatur id deserunt
        consequatur quibusdam nesciunt magnam ea. Autem totam officia cum, doloribus fuga alias ullam aut a.
      </section>
    </section> -->
  </section>
  <div class="sidenav" [class]="sidenavService.sidenavSignal()">
    <app-nav />
  </div>

</div>
<!-- (click)="sidenavService.setNavStatus('open')" -->