<nav class="nav-menu {{device}}">
  <!-- @if ( device === 'desktop' || device === 'mobile') { -->
  <strong>
    <a routerLinkActive="{{ getClass() }}" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">home</a>
  </strong>
  <strong>
    <a routerLinkActive="{{ getClass() }}" [routerLinkActiveOptions]="{ exact: true }"
      routerLink="sections">sections</a>
  </strong>

  <strong class="menu-bar lighttheme">
    <app-theme-mode />
  </strong>
  <strong class="menu-bar fullscreen">
    <app-fullscreen />
  </strong>
  <!-- } -->
  <strong class="menu-bar">
    <a class="icon-box" (click)="toggleSidenav()">
      @if (sidenavService.sidenavSignal() === 'close') {
      <i class="icon ico-menu"></i>
      } @else {
      <i class="icon ico-menu"></i>
      }
    </a>
  </strong>

</nav>