<nav class="nav-menu {{device}}">
  <!-- @if ( device === 'desktop' || device === 'mobile') { -->
  <strong>
    <a routerLink="" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">home</a>
  </strong>
  <strong>
    <a routerLink="sections" routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }">sections</a>
  </strong>
  <strong>
    <a routerLink="sections" routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }">navigation</a>
  </strong>
  <strong class="menu-bar lighttheme">
    <app-theme-mode />
  </strong>
  <strong class="menu-bar fullscreen">
    <app-fullscreen />
  </strong>
  <!-- } -->
  <strong class="menu-bar">
    <a class="icon-box" (click)="toggleSidenav()">
      @if (sidenavService.sidenavSignal() === 'close') {
      <i class="icon ico-menu"></i>
      } @else {
      <i class="icon ico-menu"></i>
      }
    </a>
  </strong>

</nav>